{% extends 'store/base.html' %}
{% block content %}
<section class="laptops">
    <h2>{{ brand.name }} laptops</h2>
    <div class="laptop-list">
        {% for laptop in laptops %}
        <div class="laptop-card">
            <a href="{% url 'laptop_detail' laptop.id %}">
                <img src="{{ laptop.image.url }}" alt="{{ laptop.name }}">
                <h3>{{ laptop.name }}</h3>
                <p>{{ laptop.brand }}</p>
                <p>${{ laptop.price }}</p>
            </a>
            <a href="{% url 'add_to_cart' laptop.id %}">
                <button>Add to Cart</button>
            </a>
        </div>
        
        {% endfor %}
    </div>
</section>
{% endblock %}