{% extends 'store/base.html' %}

{% block content %}
    <section class="cart">
        <h2>Shopping Cart</h2>
        {% if cart_items %}
            <table>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Remove</th>
                </tr>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.laptop.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.total_price }}</td>
                    <td>
                        <a href="{% url 'remove_from_cart' item.id %}">Remove</a>
                    </td>
                </tr>
                {% endfor %}
            </table><br><br>
            {% if cart_items %}
            <h3>Total: ${{ total }}</h3><br><br>
            <a href="{% url 'checkout' %}">
                <button style="width: 300px;">Proceed to Checkout</button>
            </a>
            {% endif %}

        {% else %}
            <p>Your cart is empty.</p>
        {% endif %}
    </section>

{% endblock %}